<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ericliudeveloper.sharedbillhelper" >

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
         >
        <provider
            android:name=".provider.BillProvider"
            android:authorities="com.ericliudeveloper.sharedbillhelper.provdier" />

        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.EditBillActivity"
            android:label="@string/title_activity_edit_bill" >
        </activity>
        <activity
            android:name=".ui.activity.ViewBillDetailsActivity"
            android:label="@string/title_activity_view_bill_details" >
        </activity>

        <activity android:name=".ui.activity.ViewMemberDetailsActivity"/>
    </application>

</manifest>
